
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #ffffff, #bbdefb);
    margin:2%;
    padding: 0;
  }

  .header {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #717070;
    border-radius: 5px;
    flex-direction: column;

  }

  .header img {
    height: 20%;
    width: 27%;
    margin-right: 20px;
    border-radius: 5px;
  }

  .header-text {
    font-weight: bold;
    font-size: 16px;
    margin-top: px;
  }
  .header-text input[type="date"]{
    background-color: transparent;
    border:0;
    height: 30px;

  }

  .meta-info {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .meta-info button{
    padding:5px;
    border: 1px solid black;
    border-radius: 3px;
    width: 140px;
    background-color: rgba(139, 149, 151, 0.526);
    cursor: pointer;
    font-weight: bold;
  }

  .meta-info label {
    font-weight: bold;
  }

  .meta-info input {
    padding: 5px;
    border: 1px solid black;
  }
  .info{
    display: flex;
    align-items: center;
    gap: 5px;
  }


  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
  }

  table, th, td {
    border: 1px solid #000;
  }

  th, td {
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }

  th {
    background-color: #f0f0f0;
  }
  th input[type="number"]{
    border-radius: 5px;
  }

  input[type="text"]{
    width: 100%;
    background: transparent;
    text-transform: uppercase;
    border-radius: 4px;
    padding-left: 10px;

  }
  input[type="number"]{
    border-radius: 3px;
    text-align: center;
    width: 45px;
    padding: 4px;
  }

  .footer {
    margin-top: 10px;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #ccc;
  }
  .footer input{
    border-radius: 3px;
    text-align: center;
    height: 20px;
    width:35px;
  }
  tbody input[type="text"]{
    border: 0;
    outline: none;
  }
  tbody{
    background: linear-gradient(135deg, #e3f2fd, #ffffff, #bbdefb);
  }
  input[type="number"]{
    border: 0;
    font-weight: bold;
    background-color: transparent;
  }